* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/* navbar css start */

.main {
    background-color: white;
    display: flex;
}
.center {
    width: 28%;
}
.leftnav {
    display: flex;
    width: 37%;
}
.logo {
    width: 75px;
    height: 75px;
    margin: 0px 4px;
}
.leftnav ul li {
    display: inline-block;
    list-style: none;
    padding: 30px 15px;
}
.leftnav ul li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.leftnav ul li:hover {
    background-color: #04aa6d;
    cursor: pointer;
}
.leftnav ul li:hover a {
    color: white;
}
.rightnav {
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
}
.btn-pv {
    font-size: 18px;
    color: black;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 0px 8px;
}
.btn-li {
    font-size: 18px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 0px 8px;
}
.btn-pv:hover {
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
}
.btn-li:hover {
    border: 2px solid darkgreen;
    background-color: darkgreen;
}
.icon {
    font-size: 20px;
    margin: 0px 10px;
}
.blackicon {
    cursor: pointer;
    color: black;
    margin: 0px 10px;
}

/* navbar css end */

/* content css start */

.content {
    display: block;
}

/* html */

.first {
    background-color: #282a35;
    width: 100%;
    height: 530px;
    display: flex;
}
.leftfirst {
    width: 45%;
    display: block;
    padding: 80px;
    text-align: center;
}
.leftfirst h1 {
    font-size: 90px;
    color: white;
    padding: 20px;
}
.leftfirst p {
    font-size: 19px;
    color: white;
    padding: 10px;
}
.learnhtml {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 8px 8px;
}
.refhtml {
    display: inline-block;
    font-size: 18px;
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 8px 8px;
}
.rightfirst {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main page program example css start  -- common for all languages part*/

.htmlprog {
    width: 550px;
    height: 380px;
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
    border-radius: 8px;
}
.programheading {
    font-size: 22px;
    margin: 23px 300px 20px 16px;
}
.example {
    width: 520px;
    height: 235px;
    margin: auto;
    background-color: white;
    border-left: 5px solid #04aa6d;
}
.try {
    display: inline-block;
    font-size: 16px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 16px 16px;
    line-height: 25px;
}

/* main page program example css end  */

/* css */

.second {
    background-color: rgb(165, 220, 241);
    width: 100%;
    height: 530px;
    display: flex;
}
.secondleft {
    width: 45%;
    display: block;
    padding: 80px;
    text-align: center;
}
.secondleft h1 {
    font-size: 90px;
    color: black;
    padding: 20px;
}
.secondleft p {
    font-size: 19px;
    color: black;
    padding: 10px;
}
.learncss {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 8px 8px;
}
.refcss {
    display: inline-block;
    font-size: 18px;
    color: white;
    border: 2px solid black;
    background-color: black;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 8px 8px;
}
.secondright {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cssprog {
    width: 550px;
    height: 380px;
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
    border-radius: 8px;
}

/* javascript */

.third {
    background-color: rgb(245, 245, 119);
    width: 100%;
    height: 530px;
    display: flex;
}
.thirdleft {
    width: 45%;
    display: block;
    padding: 80px;
    text-align: center;
}
.thirdleft h1 {
    font-size: 80px;
    color: black;
    padding: 20px;
}
.thirdleft p {
    font-size: 19px;
    color: black;
    padding: 10px;
}
.learnjs {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 8px 8px;
}
.refjs {
    display: inline-block;
    font-size: 18px;
    color: white;
    border: 2px solid black;
    background-color: black;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 8px 8px;
}
.thirdright {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jsprog {
    width: 550px;
    height: 380px;
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
    border-radius: 8px;
}

/* python */

.fourth {
    background-color: #282a35;
    width: 100%;
    height: 530px;
    display: flex;
}
.fourthleft {
    width: 45%;
    display: block;
    padding: 80px;
    text-align: center;
}
.fourthleft h1 {
    font-size: 80px;
    color: white;
    padding: 20px;
}
.fourthleft p {
    font-size: 19px;
    color: white;
    padding: 10px;
}
.learnpy {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 8px 8px;
}
.refpy {
    display: inline-block;
    font-size: 18px;
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 8px 8px;
}
.fourthright {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pyprog {
    width: 550px;
    height: 380px;
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
    border-radius: 8px;
}

/* sql */

.fifth {
    background-color: white;
    width: 100%;
    height: 530px;
    display: flex;
}
.fifthleft {
    width: 45%;
    display: block;
    padding: 80px;
    text-align: center;
}
.fifthleft h1 {
    font-size: 80px;
    color: black;
    padding: 20px;
}
.fifthleft p {
    font-size: 19px;
    color: black;
    padding: 10px;
}
.learnsql {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 8px 8px;
}
.refsql {
    display: inline-block;
    font-size: 18px;
    color: white;
    border: 2px solid black;
    background-color: black;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 8px 8px;
}
.fifthright {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sqlprog {
    width: 550px;
    height: 380px;
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
    border-radius: 8px;
}

/* mid of w3schoolcontentmid */

/* 6big content blocks */

.mid {
    background-color: #282a35;
}
.lang {
    width: 100%;
    display: flex;
}
.properties {
    border-radius: 8px;
    text-align: center;
    width: 600px;
    height: 250px;
}
.l1 {
    width: 50%;
}
.php {
    background-color: palevioletred;
    border: 2px solid palevioletred;
    margin: 60px 50px 40px 110px;
}
.r1 {
    width: 50%;
}
.jquery {
    background-color: yellow;
    border: 2px solid yellow;
    margin: 60px 90px 40px 50px;
}
.heading {
    font-size: 40px;
    color: black;
    padding: 30px;
}
.subheading {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}
.btn-sm {
    display: inline-block;
    font-size: 18px;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 50px auto 10px;
}
.java {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin: 40px 50px 40px 110px;
}
.Cplus {
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
    margin: 40px 90px 40px 50px;
}
.w3css {
    background-color: skyblue;
    border: 2px solid skyblue;
    margin: 40px 50px 40px 110px;
}
.Bootstrap {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin: 40px 90px 40px 50px;
}

/* small elements css */

.elements {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 30px;
}
.smallcolumns1 {
    width: 100%;
    display: flex;
}
.row-1 {
    width: 25%;
    margin-top: 20px;
}
.row-1 h1 {
    text-align: center;
    margin-top: 36px;
    font-size: 28px;
}
.position {
    width: 270px;
    color: black;
    height: 110px;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
}
.chash {
    background-color: lightpink;
    border: 2px solid lightpink;
}

.R {
    background-color: rgb(201, 201, 101);
    border: 2px solid rgb(201, 201, 101);
}
.git {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.mysql {
    background-color: lightsteelblue;
    border: 2px solid lightsteelblue;
}
.node {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
}
.React {
    background-color: lightpink;
    border: 2px solid lightpink;
}
.json {
    background-color: rgb(201, 201, 101);
    border: 2px solid rgb(201, 201, 101);
}
.angular {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.W3js {
    background-color: lightsteelblue;
    border: 2px solid lightsteelblue;
}
.xml {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
}
.sass {
    background-color: lightpink;
    border: 2px solid lightpink;
}
.icons {
    background-color: rgb(201, 201, 101);
    border: 2px solid rgb(201, 201, 101);
}
.rwd {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.graphics {
    background-color: lightsteelblue;
    border: 2px solid lightsteelblue;
}
.svg {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
}
.canvas {
    background-color: lightpink;
    border: 2px solid lightpink;
}
.raspberry {
    background-color: rgb(201, 201, 101);
    border: 2px solid rgb(201, 201, 101);
}
.cyber {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.appml {
    background-color: lightsteelblue;
    border: 2px solid lightsteelblue;
}
.accessbility {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
}
.asp {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.numbpy {
    background-color: rgb(201, 201, 101);
    border: 2px solid rgb(201, 201, 101);
}
.pandas {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.scipy {
    background-color: lightsteelblue;
    border: 2px solid lightsteelblue;
}
.row-2 {
    width: 50%;
    margin-top: 15px;
}
.row-2 h1 {
    text-align: center;
    margin-top: 36px;
    font-size: 28px;
}
.positionbig {
    width: 610px;
    height: 110px;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
    color: black;
}
.machinelearn {
    background-color: lightpink;
    border: 2px solid lightpink;
}
.artificial {
    background-color: lightgray;
    border: 2px solid lightgray;
}
.stats {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
}
.datasci {
    background-color: rgb(201, 201, 101);
    border: 2px solid rgb(238, 238, 233);
}

/* color picker css */

.colorpic {
    background-color: #e6e6e6;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
}
.colorheading {
    text-align: center;
}
.colorheading h1 {
    font-size: 55px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 15px;
}
.colorheading p {
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 10px;
}
.colorheading img {
    width: 150px;
    height: 150px;
    padding: 15px;
}

/* code game css */

.gamingpart {
    padding: 25px;
    text-align: center;
    background-color: lightskyblue;
}
.gamingpart h1 {
    font-family: "Courier New", cursive;
    padding-top: 60px;
    padding-bottom: 8px;
}
.gamingpart h2 {
    font-family: "Courier New", cursive;
    padding-bottom: 30px;
}
.gamebutton {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #282a35;
    background-color: #282a35;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    margin: 30px 10px;
}

/* Exercise block css */

.exerciseblock {
    background-color: #282a35;
    padding: 40px;
    color: white;
    text-align: center;
}
.exerciseblock h1 {
    font-size: 35px;
    padding-top: 40px;
}
.exerciseblock h2 {
    font-size: 18px;
    padding: 20px;
}
.btn-ex {
    display: inline-block;
    font-size: 16px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 5px;
    margin: 12px 10px;
}
.bigbtn {
    padding: 20px 50px;
}
.smallbtn {
    padding: 20px 40px;
}

/* web templates css */

.templates {
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 65px;
}
.templates h1 {
    font-size: 40px;
    padding: 10px;
}
.templates p {
    font-size: 16px;
    color: #282a35;
    padding: 10px;
}
.templates p span {
    color: black;
    font-weight: bolder;
}
.templates img {
    width: 1000px;
    height: 400px;
}
.templateimage {
    margin: 25px;
}
.templatebtn {
    display: inline-block;
    font-size: 16px;
    border: 2px solid #282a35;
    background-color: #282a35;
    color: white;
    border-radius: 40px;
    padding: 20px 300px;
    margin: 10px;
}

/* get started css */

.getstart {
    background-color: #282a35;
    padding: 30px;
}
.getstart h1 {
    font-size: 60px;
    color: #ffc0c7;
    padding: 35px;
}
.getstart h2 {
    font-size: 45px;
    color: #ffc0c7;
    padding: 30px;
}
.startbtn {
    display: inline-block;
    font-size: 16px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 20px 60px;
    margin: 25px;
}

/* how to section css */

.howtosection {
    padding: 55px;
}
.howtosection h1 {
    font-size: 40px;
    padding: 10px;
    color: black;
    text-align: center;
}
.howtosection h2 {
    font-size: 20px;
    color: #3a3a3a;
    padding: 10px;
    text-align: center;
}
.learnhowbtn {
    text-align: center;
}

.howtobtn {
    display: inline-block;
    padding: 20px 300px;
    font-size: 16px;
    color: white;
    background-color: rgb(41, 40, 40);
    margin-top: 35px;
    border: 2px solid rgb(41, 40, 40);
    border-radius: 40px;
    text-align: center;
}
.sec {
    padding: 15px;
}
.frame {
    display: flex;
    width: 1100px;
    margin: auto;
}
.frame1 {
    background-color: white;
    width: 500px;
    height: 320px;
    border: 10px solid gray;
    overflow: scroll;
    display: flex;
    margin: auto;
}
.sidenav {
    width: 130px;
    height: 300px;
    background-color: #111;
    color: #818181;
    /* position: fixed; */
}
.sidenav ul {
    list-style: none;
    padding: 10px 0px;
    margin: 0px;
}
.sidenav ul li {
    padding: 10px 20px;
}
.sidenav ul a {
    font-size: 18px;
    text-decoration: none;
}
.sidenav ul a:hover {
    color: white;
}
.fullsidebar {
    width: 370px;
    margin-left: 10px;
}
.frame2 {
    background-color: white;
    width: 500px;
    height: 320px;
    border: 10px solid gray;
    overflow: scroll;
    display: flex;
    margin: auto;
}
.autosidenav {
    width: 130px;
    margin: 15px 10px;
    /* position: fixed; */
    color: #2196f3;
}
.autosidenav ul {
    list-style: none;
    padding: 10px 0px;
    margin: 0px;
    background-color: lightgray;
}
.autosidenav ul li {
    padding: 10px 20px;
}
.autosidenav ul a {
    font-size: 18px;
    text-decoration: none;
}
.autosidenav ul a:hover {
    color: black;
}
.autosidebar {
    width: 370px;
    margin-left: 10px;
}

/* footer css */

.footer {
    padding: 20px 0px;
    background-color: #282a35;
}
.footerbutton {
    display: inline-block;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
    margin: 2px 10px;
    font-size: 14px;
    font-weight: bold;
}
.divblock1 {
    width: 96%;
    display: flex;
    padding: 30px 25px 12px 25px;
}
.content1 {
    width: 85%;
}
.content2 {
    width: 15%;
    padding: 10px 0px;
    text-align: right;
}
.content2 a {
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13.5px;
}
.content2 span {
    color: white;
    padding: 4px;
}
.divblock2 {
    margin: 15px;
}
.divblock3 {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 13.5px;
    font-weight: bold;
}
.social {
    font-size: 20px;
    text-align: right;
    padding: 0px 15px;
    color: white;
}
.divblock4 {
    text-align: center;
    font-size: 30px;
    padding: 15px;
    color: white;
}
.divblock5 {
    text-align: center;
    padding: 15px;
}
.whiteicon {
    cursor: pointer;
    color: white;
    margin: 0px 10px;
}
.footerbtn {
    font-size: 15px;
    border: 2px solid #04aa6d;
    background-color: #04aa6d;
    color: white;
    border-radius: 40px;
    padding: 15px 300px;
    margin: 8px 8px;
}
